* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bg-grad-1: hsl(214, 47%, 23%);
  --bg-grad-2: hsl(237, 49%, 15%);
}
body {
  font-family: "Barlow", sans-serif;

  text-align: center;
}
/*<----------------------------------Header------------------------------------->*/
.wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header {
  display: flex;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;

  align-items: center;
  width: 60%;
  margin: 20px auto;
 
}
.score {
  background-color: white;
  height: 85px;
  width: 115px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.score p {
  color: hsl(229, 64%, 46%);
}
.score h1 {
  color: hsl(229, 25%, 31%);
}
.logo {
  margin-left: 20px;
}
/* <----------------------------------------Hands---------------------------------------> */
.hands {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 476px;
  height: 430px;
  background-image: url("/assets/triangle.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}

.hands img {
  
  transition: all 0.2s;
}
.hands img:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.rock {
  grid-column: span 2;
}
#rock {
  border: 10px solid hsl(349, 71%, 52%);
}
#paper {
  border: 10px solid hsl(230, 89%, 62%);
}
#scissors {
  border: 10px solid hsl(39, 89%, 49%);
}
/* <----------------------------------------Results---------------------------------------> */
.result{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: none;
  width: 900px;
}
.refree h1{
  font-size: 45px;
}
.result h1{
margin: 10px 10px;
margin-bottom: 30px;
}
.result div{
  margin: 0px 20px;
  text-align: center;
  flex: 1;
}
.newgame{
  padding: 12px 20px;
  background-color: white;
  color:  hsl(229, 25%, 31%);
  
  border-radius: 8px;
  
  transition: all .15s;
}
.newgame:hover {
  transform: translateY(-5px);
  cursor: pointer;
 
}
/* <----------------------------------------Rules---------------------------------------> */
.rules button{
    background-color: #80000000;
   margin-bottom: 10px;
    height: 30px;
    width: 80px;
    border-radius: 8px;
    border: 1px solid hsl(217, 16%, 45%);
    font-family: "Barlow", sans-serif;
    color: white;
    font-size: 17px;
}

